#logo {
    height: 70px;
    width: 70px;
}

#nav-btn a {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: azure;
}
#nav-btn a:hover {
    color: rgb(242, 255, 65);
}

#brandName {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}