#logo {
    height: 70px;
    width: 70px;
}

#nav-btn a {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: azure;
}
#nav-btn a:hover {
    color: rgb(242, 255, 65);
}

#brandName {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

#btn-login, #nav-btn {
    font-family: 'Changa', sans-serif;
    font-size: 2.5ex;
}

#userPhoto {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    transition: border 0.3s ease-in-out;
}

#userPhoto:hover {
    border: 4px solid #ffc107;
}